
.container {
    width: 1280px;
    margin: 0 auto ;
}
.header {
    margin-bottom: 30px;
    margin-top: 30px;
}
.company-name {
    display: inline-block;
    font-size: 80px;
    color: #000000;
    margin-bottom: 30px;
}
.blue-text {
    color: #8bace2;
}
.header__nav {
    background-color: #35444F;
    display: flex;
    justify-content: center;
    
}
.header__nav-link {
    padding: 25px;
    font-size: 25px;
    color: #ffffff;
    border-left: 1px solid #ffffff;
}
.header__nav-link:hover {
    background-color: #222F3A;
}
.header__nav-end {
    border-right: 1px solid #fff;
}
.sidebar {
    width: 350px;
    border: 1px solid black;
}
.sidebar__item {
    font-size: 25px;
    padding: 20px 40px;
}
.sidebar__link {
    display: block;
    color: #000000;
}

.sidebar__item:hover {
    background-color: #DBDBDB;
;
}
.sidebar__link:hover {
    display: flex;
    justify-content: center;
}
.main-content{
    width: 850px;
    margin-left: 73px; 
}

.main {
    display: flex;
    justify-content: space-evenly;
}


.content-img-wrapper {
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-img {
    width: 320px;
}
.content-img:hover {
    width: 340px;
    transition: 1.5s;
}
.page-text {
    font-size: 18px;
    color: #2C2C2C;
    line-height: 1.5;
    margin: 30px 0;
}
.footer {
    padding: 20px 25px;
    background: lightgray;
}

.footer__nav {
    display: flex;
    justify-content: space-evenly;
}


.footer__nav-link {
    color: black;
    font-size: 30px;
}

.footer__nav-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.footer__copyright {
    font-size: 25px;
    margin-left: 87px;
}
